## Preprocessing

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from google.colab import files
import pandas as pd
import numpy as np
import tensorflow as tf


#  Import and read the charity_data.csv.
# Application is not a program or software, but applications for charity funding.
import pandas as pd 

!pip install keras-tuner
!pip install pyyaml h5py # https://www.tensorflow.org/tutorials/keras/save_and_load

application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head(3)

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: keras-tuner in /usr/local/lib/python3.10/dist-packages (1.3.5)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (23.1)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (2.27.1)
Requirement already satisfied: kt-legacy in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (1.0.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (3.4)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyyaml in /usr/local/lib/python3.10/dist-packages (6.0)
Requirement already satisfied: h5py in /usr/local/lib/python3.10/dist-packages (3.8.0)
Requirement already satisfied: numpy>=1.14.5 in /usr/local/lib/python3.10/dist-packages (from h5py) (1.22.4)

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0

In [ ]:
application_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EIN                     34299 non-null  int64
 1   NAME                    34299 non-null  object
 2   APPLICATION_TYPE        34299 non-null  object
 3   AFFILIATION             34299 non-null  object
 4   CLASSIFICATION          34299 non-null  object
 5   USE_CASE                34299 non-null  object
 6   ORGANIZATION            34299 non-null  object
 7   STATUS                  34299 non-null  int64
 8   INCOME_AMT              34299 non-null  object
 9   SPECIAL_CONSIDERATIONS  34299 non-null  object
 10  ASK_AMT                 34299 non-null  int64
 11  IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(4), object(8)
memory usage: 3.1+ MB

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application1_df = application_df.drop(columns=['EIN', 'NAME'])
application1_df.head(3)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0

In [ ]:
# Determine the number of unique values in each column.
# https://datascienceparichay.com/article/pandas-count-of-unique-values-in-each-column/
print(application1_df.nunique())

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

For columns that have more than 10 unique values, determine the number of data points for each unique value.
Use the number of data points for each unique value to pick a cutoff point to bin rare categorical variables together in a new value (other) and then check if the binning was successful. Set cutoff for other to <500.

Only APPLICATION_TYPE and CLASSIFICATION object types have more than 10 unique values.

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
print(application1_df['APPLICATION_TYPE'].value_counts())

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# https://medium.com/gett-engineering/handling-rare-categorical-values-in-pandas-d1e3f17475f0
# application1_df['APPLICATION_TYPE'].mask(application1_df['APPLICATION_TYPE'].map(application1_df['APPLICATION_TYPE'].value_counts()) < 500, 'Other')

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
# Binning starts at T13 to reduce features to <11 unique features, into the "Other" category.

application_types_to_replace = ["T13", "T12", "T2", "T25", "T14", "T29", "T15", "T17"]

# Replace in dataframe
for app in application_types_to_replace:
    application1_df['APPLICATION_TYPE'] = application1_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application1_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts for binning
print(application1_df['CLASSIFICATION'].value_counts())

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application2_df = application1_df

In [ ]:
# Continue for now. Don't want to switch away from string. Find another way. '1' doesn't work either.
# application2_df[application2_df['CLASSIFICATION' > 1]]

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
# Match starter code value Other value 2261.
classifications_to_replace = ["C2150", "C4500", "C2561", "C8210", "C4120", "C1283", "C2380", "C1732", "C1728", "C1900",
                              "C3700", "C2500", "C1570", "C1245", "C1820", "C2400", "C1257", "C1600", "C0", "C2710",
                              "C1260", "C3200", "C1256", "C1234", "C1246", "C1267", "C2170", "C1248", "C2600", "C1370",
                              "C5200", "C2190", "C4200", "C1236", "C2570", "C1580", "C6100", "C4100", "C1720", "C1237",
                              "C1235", "C1238", "C1278", "C8200", "C1250", "C6000", "C1800", "C1500", "7120", "C8000",
                              "C1240", "C2300", "C7200", "C1400", "C1230", "C1280", "C1300", "C7210", "C7120", "C7100",
                              "C2800", "C2700", "C1270", "C5000", "C4000", "C1700", "C7000"]

# Replace in dataframe
for cls in classifications_to_replace:
    application1_df['CLASSIFICATION'] = application1_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application1_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [ ]:
application1_df.head(3)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0

In [ ]:
application1_df.value_counts('IS_SUCCESSFUL')

IS_SUCCESSFUL
1    18261
0    16038
dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`. UOM 19.2.4 Unsupervised Learning
# https://umn.bootcampcontent.com/University-of-Minnesota-Boot-Camp/UofM-VIRT-DATA-PT-12-2022-U-LOLC/-/blob/main/19-Unsupervised-Learning/2/Activities/04-Evr_Preprocessing/Solved/cc_preprocessing_solution.ipynb
# Should the INCOME_AMT be used as a dummy value? Currently is an object, showing a range.
application_dummies_df = pd.get_dummies(application1_df[['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS']])

In [ ]:
# print(application_dummies)
# application_dummies_df.sample(5)
application_dummies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 42 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   APPLICATION_TYPE_Other        34299 non-null  uint8
 1   APPLICATION_TYPE_T10          34299 non-null  uint8
 2   APPLICATION_TYPE_T19          34299 non-null  uint8
 3   APPLICATION_TYPE_T3           34299 non-null  uint8
 4   APPLICATION_TYPE_T4           34299 non-null  uint8
 5   APPLICATION_TYPE_T5           34299 non-null  uint8
 6   APPLICATION_TYPE_T6           34299 non-null  uint8
 7   APPLICATION_TYPE_T7           34299 non-null  uint8
 8   APPLICATION_TYPE_T8           34299 non-null  uint8
 9   APPLICATION_TYPE_T9           34299 non-null  uint8
 10  AFFILIATION_CompanySponsored  34299 non-null  uint8
 11  AFFILIATION_Family/Parent     34299 non-null  uint8
 12  AFFILIATION_Independent       34299 non-null  uint8
 13  AFFILIATION_National          34299 non-null  uint8
 14  AFFILIATION_Other             34299 non-null  uint8
 15  AFFILIATION_Regional          34299 non-null  uint8
 16  CLASSIFICATION_C1000          34299 non-null  uint8
 17  CLASSIFICATION_C1200          34299 non-null  uint8
 18  CLASSIFICATION_C2000          34299 non-null  uint8
 19  CLASSIFICATION_C2100          34299 non-null  uint8
 20  CLASSIFICATION_C3000          34299 non-null  uint8
 21  CLASSIFICATION_Other          34299 non-null  uint8
 22  USE_CASE_CommunityServ        34299 non-null  uint8
 23  USE_CASE_Heathcare            34299 non-null  uint8
 24  USE_CASE_Other                34299 non-null  uint8
 25  USE_CASE_Preservation         34299 non-null  uint8
 26  USE_CASE_ProductDev           34299 non-null  uint8
 27  ORGANIZATION_Association      34299 non-null  uint8
 28  ORGANIZATION_Co-operative     34299 non-null  uint8
 29  ORGANIZATION_Corporation      34299 non-null  uint8
 30  ORGANIZATION_Trust            34299 non-null  uint8
 31  INCOME_AMT_0                  34299 non-null  uint8
 32  INCOME_AMT_1-9999             34299 non-null  uint8
 33  INCOME_AMT_10000-24999        34299 non-null  uint8
 34  INCOME_AMT_100000-499999      34299 non-null  uint8
 35  INCOME_AMT_10M-50M            34299 non-null  uint8
 36  INCOME_AMT_1M-5M              34299 non-null  uint8
 37  INCOME_AMT_25000-99999        34299 non-null  uint8
 38  INCOME_AMT_50M+               34299 non-null  uint8
 39  INCOME_AMT_5M-10M             34299 non-null  uint8
 40  SPECIAL_CONSIDERATIONS_N      34299 non-null  uint8
 41  SPECIAL_CONSIDERATIONS_Y      34299 non-null  uint8
dtypes: uint8(42)
memory usage: 1.4 MB

In [ ]:
# Join the dataframes
application_dummies_df = pd.concat([application1_df, application_dummies_df], axis=1)
application_dummies_df.head(3)
# application_dummies_df.info

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1,...,0,0,0,0,0,0,0,0,1,0
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1,...,1,0,0,0,0,0,0,0,1,0
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0,...,0,0,0,0,0,0,0,0,1,0

In [ ]:
application_dummies_df.columns.values

array(['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'STATUS', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS',
       'ASK_AMT', 'IS_SUCCESSFUL', 'APPLICATION_TYPE_Other',
       'APPLICATION_TYPE_T10', 'APPLICATION_TYPE_T19',
       'APPLICATION_TYPE_T3', 'APPLICATION_TYPE_T4',
       'APPLICATION_TYPE_T5', 'APPLICATION_TYPE_T6',
       'APPLICATION_TYPE_T7', 'APPLICATION_TYPE_T8',
       'APPLICATION_TYPE_T9', 'AFFILIATION_CompanySponsored',
       'AFFILIATION_Family/Parent', 'AFFILIATION_Independent',
       'AFFILIATION_National', 'AFFILIATION_Other',
       'AFFILIATION_Regional', 'CLASSIFICATION_C1000',
       'CLASSIFICATION_C1200', 'CLASSIFICATION_C2000',
       'CLASSIFICATION_C2100', 'CLASSIFICATION_C3000',
       'CLASSIFICATION_Other', 'USE_CASE_CommunityServ',
       'USE_CASE_Heathcare', 'USE_CASE_Other', 'USE_CASE_Preservation',
       'USE_CASE_ProductDev', 'ORGANIZATION_Association',
       'ORGANIZATION_Co-operative', 'ORGANIZATION_Corporation',
       'ORGANIZATION_Trust', 'INCOME_AMT_0', 'INCOME_AMT_1-9999',
       'INCOME_AMT_10000-24999', 'INCOME_AMT_100000-499999',
       'INCOME_AMT_10M-50M', 'INCOME_AMT_1M-5M', 'INCOME_AMT_25000-99999',
       'INCOME_AMT_50M+', 'INCOME_AMT_5M-10M', 'SPECIAL_CONSIDERATIONS_N',
       'SPECIAL_CONSIDERATIONS_Y'], dtype=object)

In [ ]:
# Remove categorical columns to have only numeric values in data set.
application_dummies2_df = application_dummies_df.drop(columns=['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION',
                          'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS', 'ASK_AMT'])

In [ ]:
application_dummies2_df.sample(3)

,STATUS,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
24214,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
19595,1,1,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
7534,1,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [ ]:
application_dummies2_df.columns.values

array(['STATUS', 'IS_SUCCESSFUL', 'APPLICATION_TYPE_Other',
       'APPLICATION_TYPE_T10', 'APPLICATION_TYPE_T19',
       'APPLICATION_TYPE_T3', 'APPLICATION_TYPE_T4',
       'APPLICATION_TYPE_T5', 'APPLICATION_TYPE_T6',
       'APPLICATION_TYPE_T7', 'APPLICATION_TYPE_T8',
       'APPLICATION_TYPE_T9', 'AFFILIATION_CompanySponsored',
       'AFFILIATION_Family/Parent', 'AFFILIATION_Independent',
       'AFFILIATION_National', 'AFFILIATION_Other',
       'AFFILIATION_Regional', 'CLASSIFICATION_C1000',
       'CLASSIFICATION_C1200', 'CLASSIFICATION_C2000',
       'CLASSIFICATION_C2100', 'CLASSIFICATION_C3000',
       'CLASSIFICATION_Other', 'USE_CASE_CommunityServ',
       'USE_CASE_Heathcare', 'USE_CASE_Other', 'USE_CASE_Preservation',
       'USE_CASE_ProductDev', 'ORGANIZATION_Association',
       'ORGANIZATION_Co-operative', 'ORGANIZATION_Corporation',
       'ORGANIZATION_Trust', 'INCOME_AMT_0', 'INCOME_AMT_1-9999',
       'INCOME_AMT_10000-24999', 'INCOME_AMT_100000-499999',
       'INCOME_AMT_10M-50M', 'INCOME_AMT_1M-5M', 'INCOME_AMT_25000-99999',
       'INCOME_AMT_50M+', 'INCOME_AMT_5M-10M', 'SPECIAL_CONSIDERATIONS_N',
       'SPECIAL_CONSIDERATIONS_Y'], dtype=object)

In [ ]:
# Drop the IS_SUCCESSFUL column
# IS_SUCCESSFUL is not listed above but is in application1_df
application_dummies3_df = application_dummies2_df.drop(columns=['IS_SUCCESSFUL'])

In [ ]:
# Check if IS_SUCCESSFUL was dropped
application_dummies3_df.tail(3)

,STATUS,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
34296,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [ ]:
# Split our preprocessed data into our features and target arrays
# Split IS_SUCCESSFUL from the dataframe for the target array y.
# Features array X
X = application_dummies2_df.copy()
X.drop("IS_SUCCESSFUL", axis=1, inplace=True)
X.head(3)

,STATUS,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,0,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [ ]:
# Obtain/verify dimensions for neural network model.
np.shape(X)

(34299, 43)

In [ ]:
y = application1_df["IS_SUCCESSFUL"].values.reshape(-1, 1)
y[:5]

array([[1],
       [1],
       [0],
       [1],
       [1]])

In [ ]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

In [ ]:
# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

In [ ]:
# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
# Zoom NN #2 @ 03:14:30
# Use 80, 30 and 1 units to match starter code results

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=43))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
# Use epochs=100 to match starter code.
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5713 - accuracy: 0.7222
Epoch 2/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5554 - accuracy: 0.7284
Epoch 3/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5527 - accuracy: 0.7298
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5506 - accuracy: 0.7313
Epoch 5/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5497 - accuracy: 0.7335
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5487 - accuracy: 0.7334
Epoch 7/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5476 - accuracy: 0.7324
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5477 - accuracy: 0.7338
Epoch 9/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5466 - accuracy: 0.7349
Epoch 10/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5462 - accuracy: 0.7345
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7337
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7356
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7347
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7358
Epoch 15/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5444 - accuracy: 0.7369
Epoch 16/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5440 - accuracy: 0.7369
Epoch 17/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5433 - accuracy: 0.7360
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5437 - accuracy: 0.7361
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7366
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7359
Epoch 21/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5426 - accuracy: 0.7369
Epoch 22/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5430 - accuracy: 0.7367
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7371
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7377
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7375
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7378
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7382
Epoch 28/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5415 - accuracy: 0.7372
Epoch 29/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5415 - accuracy: 0.7378
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7387
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7383
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7388
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7388
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7381
Epoch 35/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5404 - accuracy: 0.7385
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7388
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7384
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7387
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7391
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7384
Epoch 41/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5395 - accuracy: 0.7390
Epoch 42/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5395 - accuracy: 0.7397
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7385
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7391
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7394
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7388
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5391 - accuracy: 0.7401
Epoch 48/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5388 - accuracy: 0.7390
Epoch 49/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5387 - accuracy: 0.7397
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7397
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7404
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7386
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7389
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7393
Epoch 55/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5384 - accuracy: 0.7403
Epoch 56/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5380 - accuracy: 0.7399
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7397
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7395
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7407
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7391
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7401
Epoch 62/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5380 - accuracy: 0.7392
Epoch 63/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5382 - accuracy: 0.7403
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7391
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7399
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7407
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7392
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7402
Epoch 69/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5375 - accuracy: 0.7407
Epoch 70/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5379 - accuracy: 0.7399
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7404
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7403
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7403
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7410
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7404
Epoch 76/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5366 - accuracy: 0.7409
Epoch 77/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5367 - accuracy: 0.7409
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7404
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7404
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7402
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7400
Epoch 82/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5367 - accuracy: 0.7407
Epoch 83/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5363 - accuracy: 0.7405
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7402
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7399
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7413
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7402
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7404
Epoch 89/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5365 - accuracy: 0.7407
Epoch 90/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5362 - accuracy: 0.7403
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7404
Epoch 92/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5363 - accuracy: 0.7416
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7404
Epoch 94/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5359 - accuracy: 0.7405
Epoch 95/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5363 - accuracy: 0.7405
Epoch 96/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5358 - accuracy: 0.7407
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7404
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7406
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7404
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7407

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5538 - accuracy: 0.7262 - 542ms/epoch - 2ms/step
Loss: 0.5537630915641785, Accuracy: 0.7261807322502136

In [ ]:
# Export our model to HDF5 file
# https://www.tensorflow.org/guide/keras/serialization_and_saving

nn.save("AlphabetSoupCharity.h5")



---


**SECOND MODEL**


---

In [ ]:
nn2 = tf.keras.models.Sequential()
# First hidden layer
nn2.add(tf.keras.layers.Dense(units=40, activation="relu", input_dim=43))

# Second hidden layer
nn2.add(tf.keras.layers.Dense(units=15, activation="relu"))

# Output layer
nn2.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn2.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 40)                1760

 dense_4 (Dense)             (None, 15)                615

 dense_5 (Dense)             (None, 1)                 16

=================================================================
Total params: 2,391
Trainable params: 2,391
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
nn2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
fit_model = nn2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 2ms/step - loss: 0.5737 - accuracy: 0.7221
Epoch 2/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5542 - accuracy: 0.7306
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5517 - accuracy: 0.7319
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5501 - accuracy: 0.7329
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5494 - accuracy: 0.7324
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5484 - accuracy: 0.7328
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5479 - accuracy: 0.7341
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5476 - accuracy: 0.7340
Epoch 9/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5469 - accuracy: 0.7340
Epoch 10/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5463 - accuracy: 0.7337
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7352
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7350
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7356
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7348
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7349
Epoch 16/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5445 - accuracy: 0.7360
Epoch 17/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5441 - accuracy: 0.7352
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5437 - accuracy: 0.7356
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7358
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7343
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7373
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7356
Epoch 23/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5429 - accuracy: 0.7351
Epoch 24/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5430 - accuracy: 0.7364
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7361
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7345
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7363
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7365
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7372
Epoch 30/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5418 - accuracy: 0.7371
Epoch 31/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5417 - accuracy: 0.7370
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7372
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7368
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7368
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7361
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7378
Epoch 37/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5412 - accuracy: 0.7361
Epoch 38/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5407 - accuracy: 0.7368
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7371
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7376
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7380
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7374
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7373
Epoch 44/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5403 - accuracy: 0.7384
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7372
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7385
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7375
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7379
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7378
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7386

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn2.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5516 - accuracy: 0.7272 - 700ms/epoch - 3ms/step
Loss: 0.5515995025634766, Accuracy: 0.7272303104400635

In [ ]:
# Export our model to HDF5 file
# https://www.tensorflow.org/guide/keras/serialization_and_saving

nn2.save("AlphabetSoupCharity2.h5")